{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset("css/sortie/sortie.css") }}" rel="stylesheet">
{% endblock %}

{% block title %}Afficher une sortie{% endblock %}

{% block body %}
	{# Affichage du titre #}
	<div class="container">
		<div class="titre">
			<h1 class="row justify-content-center">Afficher une sortie</h1>
		</div>

		{# Affichage du formulaire de la sortie #}
		{{ form_start(sortieForm) }}
		<div
			class="form-sortie row justify-content-center">
			{# partie gauche du formulaire #}
			<div class="col-5">
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.nom) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(sortieForm.nom, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.dateDebut) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(sortieForm.dateDebut, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.dateCloture) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(sortieForm.dateCloture, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>

				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.nbInscriptionMax) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(sortieForm.nbInscriptionMax, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.duree) }}
					</div>
					<div class="col-sm-4">
						{{ form_widget(sortieForm.duree, { 'attr':{'disabled':'disabled'}}) }}
					</div>
					<div class="col-sm-3">
						minutes
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.descriptionInfos) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(sortieForm.descriptionInfos, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>
			</div>
			{# partie droite du formulaire #}
			<div class="col-5">
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.siteSortie) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(sortieForm.siteSortie, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.noVille) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(sortieForm.noVille, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(sortieForm.noLieu) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(sortieForm.noLieu, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						Rue :
					</div>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="rue" value="{{ sortie.noLieu.rue }}" disabled>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						Code postal :
					</div>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="codePostal" value="{{ sortie.noVille.getCodePostal() }}" disabled>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						Latitude :
					</div>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="latitude" value="{{ sortie.noLieu.latitude }}" disabled>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						Longitude :
					</div>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="longitude" value="{{ sortie.noLieu.longitude }}" disabled>
					</div>
				</div>
			</div>
		</div>
		{{ form_end(sortieForm) }}

		{# Possibilité de s'inscrire - se désinscrire si sortie = ouverte #}
		<div class="col-sm-12 text-center">
			{% if sortie.noEtat.libelle == 'Ouverte' %}
				{% if dejaInscrit %}
					<a class="btn btn-primary" href="{{ path('desister', {'id': sortie.id}) }}" title="inscriptionSortie" role="button">Se désister</a>
				{% else %}
					<a class="btn btn-primary" href="{{ path('inscription_sortie', {'id': sortie.id}) }}" title="inscriptionSortie" role="button">S'inscrire à la sortie</a>
				{% endif %}
			{% endif %}
		</div>

		{# Affichage des participants à la sortie #}
		{% if inscrip %}
			<table class="table table-striped table-sm caption-top col-sm-5" id="listeInscrit">
				<caption>Liste des participants :</caption>
				<thead>
					<tr class="row">
						<th class="col-sm-2">Pseudo</th>
						<th class="col-sm-3">Nom</th>
					</tr>
				</thead>
				{# récupération des données des participants inscrits #}
				{% for i in inscrip %}
					<tr class="row">
						<td class="col-sm-2">{{ i.noParticipant.pseudo }}</td>
						<td class="col-sm-3">{{i.noParticipant.prenom}}
							{{i.noParticipant.nom}}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<div class="col-sm-3">
				Aucun participant
			</div>
		{% endif %}
	</div>
{% endblock %}
