{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset("css/sortie/sortie.css") }}" rel="stylesheet">
{% endblock %}

{% block title %}Annuler sortie
{% endblock %}


{% block body %}

	<div class="container">
		<div class="titre">
			<h1 class="row justify-content-center">Annuler une sortie</h1>
		</div>

		<form action="{{ path('annuler_sortie', {'id': sortie.id}) }}" method="post" name="formulario">

			<div class="form-sortie row justify-content-center">
				<div class="col-sm-5">
					<div class="row justify-content-center">
						<div class="col">
							Nom de la sortie :
						</div>
						<div class="col">
							{{ sortie.nom }}
						</div>
					</div>
					<hr class="m-2">
					<div class="row justify-content-center">
						<div class="col">
							Date de la sortie :
						</div>
						<div class="col">
							{{ sortie.dateDebut|date("d/m/Y") }}
						</div>
					</div>
					<hr class="m-2">
					<div class="row justify-content-center">
						<div class="col">
							Ville organisatrice :
						</div>
						<div class="col">
							{{ sortie.siteSortie.nom }}
						</div>
					</div>
					<hr class="m-2">
					<div class="row justify-content-center">
						<div class="col">
							Lieu :
						</div>
						<div class="col">
							{{ sortie.noLieu.rue }}
							{{ sortie.noVille.getCodePostal() }}
							{{ sortie.noVille.getNomVille() }}
						</div>
					</div>
					<hr class="m-2">
					<div class="row justify-content-center mb-3">
						<div class="col-sm-4">
							Motif :
						</div>

						<div class="col-sm-8">
							<textarea class="form-control" id="inputMotif" name="_inputMotif" rows="3" maxlength="100" required></textarea>
						</div>
					</div>

					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-success">Valider</button>
						<a class="btn btn-secondary" href="{{ path('accueil') }}" title="annuler" role="button">Annuler</a>
					</div>
				</div>
			</div>
		</form>
	</div>


{% endblock %}
