{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset("css/sortie/sortie.css") }}" rel="stylesheet">
{% endblock %}

{% block title %}Nouvelle sortie
{% endblock %}

{% block body %}

	<div class="container">
		<div class="titre">
			<h1 class="row justify-content-center">Créer une sortie</h1>
		</div>

		{{ form_start(formSortie) }}
		<div class="form-sortie row justify-content-center">
			<div class="col-5">
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.nom) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(formSortie.nom) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.dateDebut) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(formSortie.dateDebut) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.dateCloture) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(formSortie.dateCloture) }}
					</div>
				</div>

				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.nbInscriptionMax) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(formSortie.nbInscriptionMax) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.duree) }}
					</div>
					<div class="col-sm-4">
						{{ form_widget(formSortie.duree) }}
					</div>
					<div class="col-sm-3">
						minutes
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.descriptionInfos) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(formSortie.descriptionInfos) }}
					</div>
				</div>
			</div>
			<div class="col-5">
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.siteSortie) }}
					</div>
					<div class="col-sm-7">
						{{ form_widget(formSortie.siteSortie, { 'attr':{'disabled':'disabled'}}) }}
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.noVille) }}
					</div>
					<div class="col-sm-6">
						{{ form_widget(formSortie.noVille) }}
					</div>
					<div class="col-sm-1">
						<a href="{{ path('creer_ville') }}">
							<i class="fas fa-plus btn btn-primary"></i>
						</a>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						{{ form_label(formSortie.noLieu) }}
					</div>
					<div class="col-sm-6">
						{{ form_widget(formSortie.noLieu) }}
					</div>
					<div class="col-sm-1">
						<a href="{{ path('creer_lieu') }}">
							<i class="fas fa-plus btn btn-primary"></i>
						</a>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						Rue :
					</div>
					<div class="col-sm-7"></div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						Code postal :
					</div>
					<div class="col-sm-7"></div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						Latitude :
					</div>
					<div class="col-sm-7"></div>
				</div>
				<div class="row align-items-center">
					<div class="col-sm-5 col-form-label">
						Longitude :
					</div>
					<div class="col-sm-7"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-center">

			{% if not sortie.id %}
				<button type="submit" class="btn btn-success">Enregistrer</button>
				<button type="button" class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#publierModal">
					Publier la sortie
				</button>
			{% elseif sortie.id %}
				<button type="submit" class="btn btn-success disabled">Enregistrer</button>

				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#publierModal">
					Publier la sortie
				</button>

				<!-- Modal -->
				<div class="modal fade" id="publierModal" tabindex="-1" aria-labelledby="publierModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="publierModalLabel">Confirmation</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								Voulez-vous publier la sortie ?
							</div>
							<div class="modal-footer">
								<a class="btn btn-primary" href="{{ path('publier_sortie', {'id': sortie.id}) }}" title="publiersortie" role="button">Valider</a>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
							</div>
						</div>
					</div>
				</div>
				<!-- fin Modal -->
			{% endif %}
			<a class="btn btn-secondary" href="{{ path('accueil') }}" title="annuler" role="button">Annuler</a>
		</div>
		{{ form_end(formSortie) }}
	</div>

	{# <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
	    document.getElementById('sortie_noVille').addEventListener('change', e => {
	        let selectLieu = document.getElementById('sortie_noLieu');
	        if (selectLieu.disabled == true)
	            selectLieu.disabled = false;
	
	let base_url = document.location.href.substring(0, document.location.href.lengh - 10);
	
	axios.get(base_url + "/refreshLieux").then((response) => {
	
	});
	
	    })
	
	</script> #}

{% endblock %}
